In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from time import sleep
from random import randint

In [2]:
headers = {"Accept-language": "en-US,en;q=0.5"}

In [3]:
movie_name=[]
year=[]
time=[]
rating=[]
metascore=[]
votes=[]
gross=[]
#director=[]

In [4]:
pages = np.arange(1,1000,100)

In [5]:
for page in pages:
    page = requests.get('https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start="+str(page)+"&ref_=adv_nxt')
    soup = BeautifulSoup(page.text, 'html.parser')
    movie_data = soup.findAll('div', attrs={'class': 'lister-item mode-advanced'})
    sleep(randint(2,8))
    for store in movie_data:
        name = store.h3.a.text
        movie_name.append(name)
        
        year_of_release = store.h3.find('span', class_='lister-item-year text-muted unbold').text
        year.append(year_of_release)
        
        runtime = store.p.find('span', class_='runtime').text
        time.append(runtime)
        
        rate = store.find('div', class_='inline-block ratings-imdb-rating').text.replace('\n', '')
        rating.append(rate)
        
        meta = store.find('span', class_='metascore').text if store.find('span', class_='metascore') else "NA"
        metascore.append(meta)
        
        value = store.find_all('span', attrs={'name':"nv"})
                           
        vote = value[0].text
        votes.append(vote)
                           
        grosses = value[1].text if len(value)>1 else '%^%^%^'
        gross.append(grosses)

In [6]:
movie_list = pd.DataFrame({ "Movie Name": movie_name, "Year of Release": year, "Watch Time": time,"Movie Rating": rating, "Metascore of Movie": metascore, "Votes": votes, "Gross": gross})

In [7]:
movie_list

,Movie Name,Year of Release,Watch Time,Movie Rating,Metascore of Movie,Votes,Gross
0,The Shawshank Redemption,(1994),142 min,9.3,81,"2,649,379",$28.34M
1,The Godfather,(1972),175 min,9.2,100,"1,836,516",$134.97M
2,The Dark Knight,(2008),152 min,9.0,84,"2,621,397",$534.86M
3,The Lord of the Rings: The Return of the King,(2003),201 min,9.0,94,"1,825,160",$377.85M
4,Schindler's List,(1993),195 min,9.0,94,"1,342,694",$96.90M
...,...,...,...,...,...,...,...
995,The Great Dictator,(1940),125 min,8.4,NA,"223,405",$0.29M
996,Ratsasan,(2018),170 min,8.3,NA,"43,976",%^%^%^
997,Ayla: The Daughter of War,(2017),125 min,8.3,NA,"39,786",%^%^%^
998,Vikram Vedha,(2017),147 min,8.3,NA,"43,640",%^%^%^
999,Dangal,(2016),161 min,8.3,NA,"189,914",$12.39M

In [11]:
movie_list.to_excel("List of top 1000 movies from IMDb.xlsx")
movie_list.to_csv("List of top 1000 movies from IMDb.csv")